Persistencia/war/UsuarioServicioService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://usuarios.servicios.persistencia.dv.com/" name="UsuarioServicioService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://usuarios.servicios.persistencia.dv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://usuarios.servicios.persistencia.dv.com/" schemaLocation="UsuarioServicioService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario"/>
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse"/>
  </message>
  <message name="obtenerListaUsuarios">
    <part name="parameters" element="tns:obtenerListaUsuarios"/>
  </message>
  <message name="obtenerListaUsuariosResponse">
    <part name="parameters" element="tns:obtenerListaUsuariosResponse"/>
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario"/>
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse"/>
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario"/>
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse"/>
  </message>
  <message name="crearUsuario">
    <part name="parameters" element="tns:crearUsuario"/>
  </message>
  <message name="crearUsuarioResponse">
    <part name="parameters" element="tns:crearUsuarioResponse"/>
  </message>
  <portType name="UsuarioServicio">
    <operation name="obtenerUsuario">
      <input wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/obtenerUsuarioRequest" message="tns:obtenerUsuario"/>
      <output wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse"/>
    </operation>
    <operation name="obtenerListaUsuarios">
      <input wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/obtenerListaUsuariosRequest" message="tns:obtenerListaUsuarios"/>
      <output wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/obtenerListaUsuariosResponse" message="tns:obtenerListaUsuariosResponse"/>
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
      <output wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/modificarUsuarioRequest" message="tns:modificarUsuario"/>
      <output wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
    </operation>
    <operation name="crearUsuario">
      <input wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/crearUsuarioRequest" message="tns:crearUsuario"/>
      <output wsam:Action="http://usuarios.servicios.persistencia.dv.com/UsuarioServicio/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
    </operation>
  </portType>
  <binding name="UsuarioServicioPortBinding" type="tns:UsuarioServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerListaUsuarios">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UsuarioServicioService">
    <port name="UsuarioServicioPort" binding="tns:UsuarioServicioPortBinding">
      <soap:address location="http://localhost:8888/UsuarioServlet"/>
    </port>
  </service>
</definitions>

